.main
{    
    background-color:lavender;  
}

.app-toolbar
{
    background-color:lightcoral;
}

.app-drawer
{
    background-color:lightblue;
}

.app-drawer-content
{
    min-width:fit-content;
    height:calc(100vh - (64px + 32px)); /* ความสูงเต็มหน้าจอลบกับความสูงของ header */
    min-height: max-content;
    /*background-color:blue;*/
    color:black;
    background-color: cadetblue;
}

.outlet
{
    height:calc(100vh - (64px + 32px));       
}

.toggle-menu
{
    cursor: pointer; /* เปลี่ยน cursor เป็นรูปมือ */
}



/* เอฟเฟกต์เมื่อเมาส์ลากผ่าน (hover) */
mat-toolbar-row:hover {
    color: black; /* เปลี่ยนสีตัวอักษร */
    background-color:lightblue; /* เปลี่ยนสีพื้นหลัง */
    border-radius: 0px; /* เพิ่มมุมโค้ง */
    transform: scale(1.1); /* ขยายขนาดเล็กน้อย */
    transition: all 0.3s ease; /* ให้การเปลี่ยนแปลงมีความนุ่มนวล */
    cursor: pointer; /* เปลี่ยน cursor เป็นรูปมือ */
}

.menu-icon {
    padding: 0 14px;
}



.header
{  
  height:65px;
  background-color: blue;
}

.footer
{ 
  display:flex; 
  height:32px; 
  color:gray;
  background-color:var(--footer-background-color);
  justify-content: center;
  align-items: center;
  text-align: center;
}

